@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Mono:wght@100..700&display=swap');

.lexend-thin {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.lexend-light {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.lexend-regular {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lexend-medium {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.lexend-semibold {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.lexend-bold {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.lexend-xbold {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.lexend-black {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.roboto-mono-thin {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.roboto-mono-light {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.roboto-mono-regular {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-mono-medium {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.roboto-mono-semibold {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.roboto-mono-bold {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}